  
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
idna==2.10
MouseInfo==0.1.3
Pillow==8.0.1
PyAutoGUI==0.9.46
pyfiglet==0.8.post1
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
PyTweening==1.0.3
requests==2.25.1
rubicon-objc==0.4.0
soupsieve==2.1
termcolor==1.1.0
urllib3==1.26.2